{% extends "base.html" %}
{% block title %}
    Mot de passe oublié
{% endblock title %}
{% block content %}
    <h1>Mot de passe oublié</h1>
    {% if email_sent %}
        <p>
            Un e-mail de réinitialisation de mot de passe a été envoyé à {{ email }}. Veuillez suivre les instructions pour réinitialiser votre mot de passe.
        </p>
    {% else %}
        <p>Veuillez entrer l'adresse e-mail associée à votre compte pour réinitialiser votre mot de passe.</p>
        <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit">Envoyer l'e-mail de réinitialisation</button>
        </form>
    {% endif %}
{% endblock content %}
