{% extends "base.html" %}
{% block title %}
    Profile
{% endblock title %}
{% block nav_title %}
    Profile
{% endblock nav_title %}
{% block content %}
    {% load static %}
    <form method="post">
        {% csrf_token %}
        <h2>Modifier votre profil:</h2>
        <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text"
                   id="username"
                   name="username"
                   value="{{ user.username }}"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="first_name">Prénom</label>
            <input type="text"
                   id="first_name"
                   name="first_name"
                   value="{{ user.first_name }}"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="last_name">Nom de famille</label>
            <input type="text"
                   id="last_name"
                   name="last_name"
                   value="{{ user.last_name }}"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="email">Adresse e-mail</label>
            <input type="email"
                   id="email"
                   name="email"
                   value="{{ user.email }}"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="password">Nouveau mot de passe</label>
            <input type="password" id="password" name="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
{% endblock content %}
