{% extends "base.html" %}
{% block title %}
    Créer une critique
{% endblock title %}
{% block nav_title %}
    Créer une critique
{% endblock nav_title %}
{% block content %}
    <form method="POST"
          enctype="multipart/form-data"
          class="create-ticket-and-review-form">
        {% csrf_token %} {% comment %} create ticket {% endcomment %}
        {% if ticket is None %}
            <div class="form-group">
                <h1>Livre/Article</h1>
                <label for="t_title" class="form-label">
                    Titre:
                </label
                >
                <br />
                <input type="text" name="t_title" class="form-control" required />
            </div>
            <div class="form-group">
                <label for="t_description" class="form-label">
                    Description:
                </label
                >
                <br />
                <textarea name="t_description" class="form-control" required></textarea>
            </div>
            <div class="form-group">
                <label for="image" class="form-label">
                    Image:
                </label
                >
                <br />
                <input type="file" name="image" accept="image/*" class="form-control" />
            </div>
            <hr />
        {% endif %}
        {% comment %} end create ticket {% endcomment %} {% comment %} display existing ticket from ticket_form {% endcomment %}
        {% if ticket is not None %}
            <div class="form-group">
                <h2>Vous êtes en train de proposer une réponse à:</h2>
                <br />
                <label for="id_t_title" class="form-label">
                    Titre:
                </label
                >
                <br />
                {{ ticket.t_title }}
                <br />
                <br />
                <label for="id_t_description" class="form-label">
                    Description:
                </label
                >
                <br />
                {{ ticket.t_description }}
                <br />
                <label for="id_image" class="form-label">
                    Image:
                </label
                >
                <br />
                <br />
                <img width="200"
                     height="200"
                     src="{{ ticket.image.url }}"
                     alt="image"
                     class="feed-item-image"/>
            </div>
            <hr />
        {% endif %}
        {% comment %} end display existing ticket {% endcomment %} {% comment %} create review {% endcomment %}
        <div class="form-group">
            <h1>Créer une critique</h1>
            <label for="id_rating" class="form-label">
                Évaluation:
            </label
            >
            <br />
            {{ review_form.rating }}
        </div>
        <div class="form-group">
            <label for="id_title" class="form-label">
                Titre:
            </label
            >
            <br />
            {{ review_form.r_title }}
        </div>
        <div class="form-group">
            <label for="id_body" class="form-label">
                Corps:
            </label
            >
            <br />
            {{ review_form.r_description }}
        </div>
        <button type="submit" class="btn btn-primary">Publier</button>
    </form>
    {% comment %} end create review {% endcomment %}
{% endblock content %}
