{% extends 'base.html' %} {% block title %}Dashboard{% endblock %} {% block nav_title %}Dashboard{% endblock %} {% block content %} {% load static %}
<head>
	<link
		rel="script"
		type="text/javascript"
		href="{% static 'js/script.js' %}" />
</head>
<div class="buttons-container">
	<a
		href="{% url 'new-ticket' %}"
		class="critic-button ask"
		>Demander une critique</a
	>
	<a
		href="{% url 'new-review' %}"
		class="critic-button create"
		>Créer une critique</a
	>
</div>
<br />
<br />
<div class="container">
	<div class="feed-container">
		{% for item in feed_items %}
		<div class="feed-item">
			<div class="feed-item-header">
				{% if item.user == request.user %}
				<a
					href="{% url 'update-ticket' item.id %}"
					class="update-button">
					<?xml version="1.0" encoding="UTF-8"?>
					<svg
						href="{% url 'update-ticket' item.id %}"
						xmlns="http://www.w3.org/2000/svg"
						width="20"
						height="20"
						viewBox="0 0 20 20">
						<title>edit</title>
						<path d="M16.77 8l1.94-2a1 1 0 0 0 0-1.41l-3.34-3.3a1 1 0 0 0-1.41 0L12 3.23zm-5.81-3.71L1 14.25V19h4.75l9.96-9.96-4.75-4.75z" />
					</svg>
				</a>
				{% endif %} {% if item.review_set.exists %}
				<h3 class="feed-item-title">{{ item.t_title }} - {{ item.review_count }} review{% if item.review_count != 1 %}s{% endif %}</h3>
				{% else %}
				<h3 class="feed-item-title">{{ item.t_title }}</h3>
				{% endif %}
				<p class="feed-item-description">{{ item.t_description }}</p>
			</div>

			<div class="button-image-section">
				<a
					href="{% url 'new-review-with-ticket' ticket_id=item.id %}"
					class="review-button"
					>Review this</a
				>
				<br />
				{% if item.image %}
				<img
					src="{{ item.image.url }}"
					alt="{{ item.t_title }}"
					class="feed-item-image" />
				{% endif %} {% if item.review_set %}
				<br />
				{% endif %}
			</div>
		</div>
		{% if item.review_set.exists %}
		<div class="feed-item-reviews-container">
			<ul class="feed-item-reviews">
				{% for review in item.review_set.all %}
				<li class="feed-item-review">
					<h4 class="feed-item-review-body">{{review.user.username}}</h4>
					<h5 class="feed-item-review-title">{{ review.r_title }} - {{ review.rating }}/5</h5>
					<p class="feed-item-review-body">{{ review.r_description }}</p>
				</li>
				{% endfor %}
			</ul>
			{% endif %} <br />
			{% endfor %}
		</div>
	</div>
	{% endblock %} {% comment %} {% extends 'base.html' %} {% block title %}Dashboard{% endblock %} {% block nav_title %}Dashboard{% endblock %} {% block content %}{% load static %}
	<div class="buttons-container">
		<a
			href="{% url 'new-ticket' %}"
			class="critic-button ask"
			>Demander une critique</a
		>
		<a
			href="{% url 'new-review' %}"
			class="critic-button create"
			>Créer une critique</a
		>
	</div>
	<br />
	<br />

	<div class="container">
		<div class="feed-container">
			{% for item in feed_items %}
			<div class="feed-item">
				<div class="feed-item-header">
					{% if item.review_set.exists %}
					<h3 class="feed-item-title">{{ item.t_title }} - {{ item.review_count }} review{% if item.review_count != 1 %}s{% endif %}</h3>
					{% else %}
					<h3 class="feed-item-title">{{ item.t_title }}</h3>
					{% endif %}
					<p class="feed-item-description">{{ item.t_description }}</p>
				</div>

				<div class="button-image-section">
					<a
						href="{% url 'new-review-with-ticket' ticket_id=item.id %}"
						class="review-button">
						Review this
					</a>
					<br />
					{% if item.image %}
					<img
						src="{{ item.image.url }}"
						alt="{{ item.t_title }}"
						class="feed-item-image" />
					{% endif %} {% if item.review_set %}
					<br />
					{% endif %}
				</div>
			</div>
			{% if item.review_set.exists %}
			<div class="feed-item-reviews-container">
				<ul class="feed-item-reviews">
					{% for review in item.review_set.all %}
					<li class="feed-item-review">
						<h4 class="feed-item-review-body">{{review.user.username}}</h4>
						<h5 class="feed-item-review-title">{{ review.r_title }} - {{ review.rating }}/5</h5>
						<p class="feed-item-review-body">{{ review.r_description }}</p>
					</li>
					{% endfor %}
				</ul>
				{% endif %} <br />
				{% endfor %}
			</div>
		</div>
		{% endblock %}
	</div>
	{% endcomment %}
</div>
