{% extends "base.html" %}
{% block title %}
    Dashboard
{% endblock title %}
{% block nav_title %}
    {% if feed_type %}
        {{ feed_type|title }}
    {% else %}
        Dashboard
    {% endif %}
{% endblock nav_title %}
{% block content %}
    {% load static %}
    <head>
        <link rel="script"
              type="text/javascript"
              href="{% static 'js/script.js' %}"/>
    </head>
    <div class="buttons-container">
        <a href="{% url 'new-ticket' %}" class="critic-button ask">Demander une critique</a
            >
            <a href="{% url 'new-review' %}" class="critic-button create">Créer une critique</a
                >
            </div>
            <br />
            <br />
            <div class="container">
                <div class="feed-container">
                    {% for item in feed_items %}
                        <div class="feed-item">
                            <div class="feed-item-header">
                                <h4 class="feed-item-review-body">
                                    {% if item.user != request.user and item.user not in followed_users %}
                                        <a href="{% url 'add-followed-user' item.user.id %}"
                                           class="follow-button">
                                            <?xml version="1.0" encoding="UTF-8"?>
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 width="24"
                                                 height="24"
                                                 viewBox="0 0 24 24">
                                                <path d="M9.602 3.7c-1.154 1.937-.635 5.227 1.424 9.025.93 1.712.697 3.02.338 3.815-.982 2.178-3.675 2.799-6.525 3.456-1.964.454-1.839.87-1.839 4.004h-1.995l-.005-1.241c0-2.52.199-3.975 3.178-4.663 3.365-.777 6.688-1.473 5.09-4.418-4.733-8.729-1.35-13.678 3.732-13.678 3.321 0 5.97 2.117 5.97 6.167 0 3.555-1.949 6.833-2.383 7.833h-2.115c.392-1.536 2.499-4.366 2.499-7.842 0-5.153-5.867-4.985-7.369-2.458zm13.398 15.3h-3v-3h-2v3h-3v2h3v3h2v-3h3v-2z"/>
                                            </svg>
                                        </a>
                                    {% elif item.user != request.user %}
                                        <a href="{% url 'remove-followed-user' item.user.id feed_type %}"
                                           class="follow-button">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 width="24"
                                                 height="24"
                                                 viewBox="0 0 24 24">
                                                <path d="M8.602 3.7c-1.154 1.937-.635 5.227 1.424 9.025.93 1.712.697 3.02.338 3.815-.982 2.178-3.675 2.799-6.525 3.456-1.964.454-1.839.87-1.839 4.004h-1.995l-.005-1.241c0-2.52.199-3.975 3.178-4.663 3.365-.777 6.688-1.473 5.09-4.418-4.733-8.729-1.35-13.678 3.732-13.678 3.321 0 5.97 2.117 5.97 6.167 0 3.555-1.949 6.833-2.383 7.833h-2.115c.392-1.536 2.499-4.366 2.499-7.842 0-5.153-5.867-4.985-7.369-2.458zm15.398 15.8c0 2.485-2.017 4.5-4.5 4.5s-4.5-2.015-4.5-4.5 2.017-4.5 4.5-4.5 4.5 2.015 4.5 4.5zm-2-.5h-5v1h5v-1z"/>
                                            </svg>
                                        </a>
                                    {% endif %}
                                    {{ item.user.username }}
                                    {% if not item.review_set.exists and item.user != request.user %}a demandé une critique pour{% endif %}
                                    :
                                </h4>
                                {% if item.review_set.exists %}
                                    <h3 class="feed-item-title">
                                        {{ item.t_title }}
                                        <br />
                                    </h3>
                                    <h3>
                                        {{ item.review_count }}
                                        {% if item.review_count != 1 %}
                                            reviews
                                        {% else %}
                                            review
                                        {% endif %}
                                    </h3>
                                {% else %}
                                    <h3 class="feed-item-title">{{ item.t_title }}</h3>
                                {% endif %}
                                <p class="feed-item-description">{{ item.t_description }}</p>
                                {% if item.user == request.user %}
                                    <a href="{% url 'update-ticket' item.id %}" class="update-button">
                                        <?xml version="1.0" encoding="UTF-8"?>
                                        <svg href="{% url 'update-ticket' item.id %}"
                                             xmlns="http://www.w3.org/2000/svg"
                                             width="20"
                                             height="20"
                                             viewBox="0 0 20 20">
                                            <title>edit</title>
                                            <path d="M16.77 8l1.94-2a1 1 0 0 0 0-1.41l-3.34-3.3a1 1 0 0 0-1.41 0L12 3.23zm-5.81-3.71L1 14.25V19h4.75l9.96-9.96-4.75-4.75z" />
                                        </svg>
                                    </a>
                                    <a href="{% url 'delete-ticket' item.id %}" class="update-button">
                                        <svg width="24"
                                             height="24"
                                             xmlns="http://www.w3.org/2000/svg"
                                             fill-rule="evenodd"
                                             clip-rule="evenodd">
                                            <path d="M19 24h-14c-1.104 0-2-.896-2-2v-16h18v16c0 1.104-.896 2-2 2m-9-14c0-.552-.448-1-1-1s-1 .448-1 1v9c0 .552.448 1 1 1s1-.448 1-1v-9zm6 0c0-.552-.448-1-1-1s-1 .448-1 1v9c0 .552.448 1 1 1s1-.448 1-1v-9zm6-5h-20v-2h6v-1.5c0-.827.673-1.5 1.5-1.5h5c.825 0 1.5.671 1.5 1.5v1.5h6v2zm-12-2h4v-1h-4v1z"/>
                                        </svg>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="button-image-section">
                                {% if not item.review_set.exists %}
                                    <a href="{% url 'new-review-with-ticket' ticket_id=item.id %}"
                                       class="review-button">Créer une critique</a
                                        >
                                        <br />
                                    {% endif %}
                                    {% if item.image %}
                                        <img width="200"
                                             height="200"
                                             src="{{ item.image.url }}"
                                             alt="{{ item.t_title }}"
                                             class="feed-item-image"/>
                                    {% endif %}
                                    {% if item.review_set %}<br />{% endif %}
                                </div>
                            </div>
                            {% if item.review_set.exists %}
                                <div class="feed-item-reviews-container">
                                    <ul class="feed-item-reviews">
                                        {% for review in item.review_set.all %}
                                            {% if page_title != "posts" or review.user == request.user %}
                                                <li class="feed-item-review">
                                                    <h4 class="feed-item-review-body">{{ review.user.username }}:</h4>
                                                    <h5 class="feed-item-review-title">{{ review.r_title }} - {{ review.rating }}/5</h5>
                                                    <p class="feed-item-review-body">{{ review.r_description }}</p>
                                                    {% if review.user == request.user %}
                                                        <a href="{% url 'update-review' review.id %}" class="update-button">
                                                            <?xml version="1.0" encoding="UTF-8"?>
                                                            <svg href="{% url 'update-ticket' item.id %}"
                                                                 xmlns="http://www.w3.org/2000/svg"
                                                                 width="20"
                                                                 height="20"
                                                                 viewBox="0 0 20 20">
                                                                <title>edit</title>
                                                                <path d="M16.77 8l1.94-2a1 1 0 0 0 0-1.41l-3.34-3.3a1 1 0 0 0-1.41 0L12 3.23zm-5.81-3.71L1 14.25V19h4.75l9.96-9.96-4.75-4.75z" />
                                                            </svg>
                                                        </a>
                                                        <a href="{% url 'delete-review' review.id %}" class="update-button">
                                                            <svg width="24"
                                                                 height="24"
                                                                 xmlns="http://www.w3.org/2000/svg"
                                                                 fill-rule="evenodd"
                                                                 clip-rule="evenodd">
                                                                <path d="M19 24h-14c-1.104 0-2-.896-2-2v-16h18v16c0 1.104-.896 2-2 2m-9-14c0-.552-.448-1-1-1s-1 .448-1 1v9c0 .552.448 1 1 1s1-.448 1-1v-9zm6 0c0-.552-.448-1-1-1s-1 .448-1 1v9c0 .552.448 1 1 1s1-.448 1-1v-9zm6-5h-20v-2h6v-1.5c0-.827.673-1.5 1.5-1.5h5c.825 0 1.5.671 1.5 1.5v1.5h6v2zm-12-2h4v-1h-4v1z"/>
                                                            </svg>
                                                        </a>
                                                    {% endif %}
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                <br />
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endblock content %}
